.blockquote {
  position: relative;
  display: block;
  margin: 82px 0 80px;
  padding: 80px 114px 62px;
  font-size: 24px;
  line-height: (32/24);
  color: $color__text;
  @include font-face-title;
  border-top: 1px solid $color__border;
  border-bottom: 1px solid $color__border;

  @include media-breakpoint-down(phx) {
    margin: 38px (-($container__padding-ph)) 30px;
    padding: 43px $container__padding-ph 43px ($container__padding-ph + 55px);
    font-size: $font-size__large;
    line-height: 1.47;
  }

  &::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    width: 72px;
    height: 38px;
    background: url("../images/icons/quote.svg") center no-repeat;
    background-size: contain;

    @include media-breakpoint-down(phx) {
      width: 36px;
      height: 19px;
      top: 30px;
      left: $container__padding-ph;
    }
  }

  &__author {
    display: block;
    margin-top: 20px;
    font-size: $font-size__base;
    line-height: $line-height__base;
    @include font-face-base;

    @include media-breakpoint-down(phx) {
      margin-top: 14px;
      font-size: $font-size__xsmall;
    }
  }
}