.breadcrumbs {
  display: block;
  margin: 0 0 30px;
  padding: 0;

  @include media-breakpoint-down(tb) {
    margin-bottom: 17px;
  }

  > li {
    position: relative;
    display: inline-block;
    margin: 0 0 4px;
    padding: 0 24px 0 0;
    @include font-face-medium;

    &::before {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 7px;
      right: 7px;
      display: block;
      width: 6px;
      height: 6px;
      background: $color__primary;
      transform: rotate(45deg);
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    > a,
    > span {
      color: $color__text;

      @include media-breakpoint-down(tb) {
        font-size: $font-size__small;
      }
    }

    > a {
      &:hover {
        color: $color__primary;
      }
    }
  }
}