$_btn__height:   60px;

.btn {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  height: $_btn__height;
  line-height: ($_btn__height - 2);
  padding: 0 30px;
  border: 1px solid transparent;
  font-size: $font-size__base;
  border-radius: $border__radius;
  box-shadow: none;
  @include font-face-base;
  white-space: nowrap;
  -webkit-appearance:none;
  -moz-appearance:none;
  background-image: none;
  background: transparent;
  text-decoration: none;
  transition: all .3s;
  text-align: center;
  letter-spacing: normal;
  vertical-align: top;
  outline: none;
  cursor: pointer;

  &_default {
    background: transparent;
    border-color: $color__dark;
    color: $color__dark;

    &:hover,
    &:active {
      background: $color__dark;
      color: #fff;
      border-color: $color__dark;
    }
  }

  &_light {
    color: $color__dark;
    border-color: $color__border-block;

    &:hover,
    &:active {
      color: #fff;
      border-color: $color__dark;
      background: $color__dark;
    }
  }

  &_submit {
    background-color: transparent;
    border-color: $color__dark;
    color: $color__dark;
    font-size: 12px;
    text-transform: uppercase;
    @include font-face-bold;

    &:hover,
    &:active {
      background-color: $color__dark;
      color: #fff;
      border-color: $color__dark;
    }
  }

  &_arrow {
    padding-right: 78px;
    background-image: url("../images/icons/arrow.svg");
    background-repeat: no-repeat;
    background-position: (calc(100% - 30px)) center;

    &:hover,
    &:active {
      background-image: url("../images/icons/arrow_light.svg");
    }
  }

  &_link {
    color: $color__text;

    &:hover,
    &:active {
      color: $color__primary;
    }
  }
}
