.drop {
  margin-left: 15px;

  &__link {
    span {
      position: relative;
      display: inline-block;
      padding-right: 11px;
      @include font-face-medium;
      color: $color__text_dark;

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: 0;
        display: block;
        width: 5px;
        height: 5px;
        border-left: 2px solid currentColor;
        border-top: 2px solid currentColor;
        transform: rotate(-135deg);
      }
    }
  }
}

.drop-block {
  ul {
    padding: 0;
    margin: 0;

    > li {
      padding: 0;
      margin: 0 0 6px 0;
      @include font-face-medium;

      &::before {
        display: none;
      }

      a {
        color: $color__text_dark;

        &:hover {
          color: $color__primary;
        }
      }
    }
  }
}