.file {
  > a {
    position: relative;
    display: inline-block;
    min-height: 24px;
    padding: 3px 0 0 34px;
    font-size: $font-size__base;
    color: $color__text;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 18px;
      height: 24px;
      background: url("../images/icons/file.svg") center no-repeat;
      background-size: contain;
    }

    &:hover {
      color: $color__link;
    }
  }
}