input,
textarea {
  font-size: $font-size__base;
  outline: 0;
}

select {
  &.formstyler {
    opacity: 0;
  }
}

.form {}

.field-group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-field {
  position: relative;

  &__label {
    position: absolute;
    left: 18px;
    top: -11px;
    z-index: 2;

    > span,
    > label {
      display: inline-block;
      font-family: $font-family__base;
      font-weight: 500;
      //font-size: $font-size__small;
      //color: $form__field-label-color;
      background: #fff;
      padding: 0 6px;
    }
  }

  &__field {
    position: relative;
  }
}

.field {
  display: block;
  width: 100%;
  height: $form__field-height;
  padding: 0;
  @include font-face-base;
  font-weight: 500;
  font-size: $font-size__base;
  border: none;
  border-bottom: 1px solid $form__border-color;
  border-radius: $form__border-radius;
  background: $form__field-bg;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  transition: all .4s;
  color: $color__text-dark;

  &.hover,
  &:hover,
  &.focus,
  &:focus {
    outline: none;
  }

  &.hover,
  &:hover {
    //border-color: $form__border-color-hover;
  }

  &.focus,
  &:focus {
    //border-color: $form__border-color-focus;
  }

  &.error {
    //border-color: $color__error;
  }

  &:not([value=""]):not(:focus) {
    //border-color: $field-bord-color-full;
    &.error {
      //border-color: $field-bord-color-error;
    }
  }

  &.error {
    padding-right: 50px;
    //border-color: $field-bord-color-error;
    //color: $text-color-error;
    //background: url("../images/error.svg") calc(100% - 30px) 50% no-repeat;
  }

  &::placeholder {
    color: $form__field-color-placeholder;
    opacity: 1;
  }
}

textarea.field {
  padding: 26px 0 0;
  min-height: ($form__field-height * 2);
  resize: vertical;
}

textarea {
  display: block;

  &.form-field {
    height: auto;
  }
}

input[type='text'],
input[type='tel'],
input[type='email'] {

}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

//----- custom checkbox/radio -----
$_check-border:         #EBEBEB;
$_check-checked:        $color__primary;
$_check-color:          $color__primary;

.checkbox,
.radio {
  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    position: relative;
    display: inline-block;
    padding-left: 32px;
    user-select: none;
    cursor: pointer;

    &:hover {
      .check-cust_i {
        border-color: #C2C5C9;
      }
    }
  }

  .check-cust_i {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $_check-border;
    background: #fff;
    transition: all 0.2s;

    &:after {
      position: absolute;
      top: 0;
      left: -1px;
      opacity: 0;
      transition: opacity 0.2s;
      content: "";
    }

    + span {
      font-size:  $font-size-base;
      color: $_check-color;
    }
  }

  .check-cust {
    &:checked + .check-cust_i {
      background: $_check-checked;
      border-color: $_check-checked;

      &:after {
        opacity: 1;
      }
    }

    &:disabled + .check-cust_i {
      background: #F2F2F2;
      border-color: $_check-border;

      + span {
        color: #CDCDCD;

        .check-count {
          color: #CDCDCD;
        }
      }
    }
  }

  .check-count {
    color: #B3B3B3;
  }
}

.checkbox {
  .check-cust_i {
    &:after {
      width: 100%;
      height: 100%;
      //background: url("../images/icons/check.svg") no-repeat 3px 3px;
    }
  }

  &_disabled {
    label {
      cursor: default;
    }
  }
}

.radio {
  .check-cust_i {
    border-radius: 50%;

    &:after {
      //background: url("../images/icons/check.svg") no-repeat;
      width: 16px;
      height: 13px;
      left: 3px;
    }
  }

  &_disabled {
    label {
      cursor: default;
    }
  }
}

//----- END--custom checkbox/radio -----
