.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}
.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
  cursor: pointer;
}
.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  height: $form__field-height;
  line-height: $form__field-height;
  padding: 0 0 0 35px;
  color: $color__text;
  font-size: $font-size-base;
  outline: none;

  span {
    color: #ccc;
  }
}
.jq-file__browse {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30px;
  font-size: 0;
  transition: all .3s;

  &::before {
    content: '';
    //@include sprite(add_file);
    font-size: 16px;
    cursor: pointer;
  }
}
.jq-file:hover .jq-file__browse {
  //background: $brand-color-1;
  color: #fff;
  //border-color: $brand-color-1;
}
.jq-file:active .jq-file__browse {
  //background: $brand-color-1;
  color: #fff;
  //border-color: $brand-color-1;
}
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

//---Variables---
$_jq-selectbox-arr:                   40px;
$_jq-selectbox-li-height:             36px;

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.jq-selectbox {
  width: 100%;
  vertical-align: middle;
  cursor: pointer;
  z-index: 10;

  &.select_auto {
    width: auto;

    .jq-selectbox__dropdown,
    .jq-selectbox__select {
      @include font-face-bold;
    }
    .jq-selectbox__select-text {
      width: auto!important;
    }
    .jq-selectbox__dropdown {
      max-width: none;
    }
  }

  &.select-menu {
    .jq-selectbox__select {
      height: 56px;
      line-height: 56px;
    }
    .jq-selectbox__select-text {
      font-size: 28px;
      color: $color__text;
      @include font-face-title;
    }
    .jq-selectbox__dropdown {
      //min-width: 300px;
    }
    ul {
      margin: 0 -28px;
      padding: 0;
      border: 1px solid #E6E9EB;
      box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.08);
    }
    li {
      padding: 18px 26px;
      color: $color__text;

      &:hover,
      &.sel,
      &.selected {
        background: $color__primary;
      }
    }
  }

  &:hover {
    .jq-selectbox__trigger-arrow {
      //border-top-color: $brand-color-1;
      //border-right-color: $brand-color-1;
    }
  }

  &.disabled {
    .jq-selectbox__trigger-arrow {
      //border-top-color: $text-color-light;
      //border-left-color: $text-color-light;
    }
  }

  &.opened {
    z-index: 1000!important;

    .jq-selectbox__select {
      z-index: 2;
    }
    .jq-selectbox__trigger-arrow {
      transform: rotate(45deg);
    }

    &.select_bg {
      .jq-selectbox__trigger-arrow {
        margin-top: -3px;
      }
    }
  }

  ul {
    position: relative;
    width: auto;
    margin: 0 -20px;
    padding: 12px 0 16px;
    overflow: auto;
    overflow-x: hidden;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
    background: $color-bg__body;
    -webkit-overflow-scrolling: touch;
  }

  li {
    min-height: $_jq-selectbox-li-height;
    padding: 11px 20px;
    color: $color__text;
    margin: 0;
    font-size: $font-size__base;
    @include font-face-base;
    line-height: 1.3;
    transition: color .3s;

    &:last-child {
      //padding-bottom: 20px;
    }
    &:hover {
      color: $color__text_dark;
    }
    &:before {
      display: none;
    }
    &.sel,
    &.selected {
      color: $color__text_dark;
    }
    &.disabled {
      //color: $color__text-light;

      &:hover {
        background: none;
      }
    }
    &.optgroup {

      &:hover {
        background: none;
        //color: $color__dark;
        cursor: default;
      }
    }
    &.option {
      padding-left: 25px;
    }
  }
}

.jq-selectbox__select {
  position: relative;
  height: $form__field-height;
  line-height: $form__field-height;
  padding: 0 45px 0 0;
  border: none;
  border-radius: $form__border-radius;
  font-size: 14px;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  font-size: $font-size__base;
  @include font-face-base;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__dropdown {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: -2px 0 0 0;
  padding: 3px 0 8px;
  font-size: 14px;
  border: none;
  border-radius: 0;
  line-height: $_jq-selectbox-li-height;
}

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: $_jq-selectbox-arr;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  border-top: 2px solid $color__text;
  border-left: 2px solid $color__text;
  transform: rotate(225deg);
  transition: all .2s ease-in-out;
}

.jq-selectbox__search input {
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}

.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
}

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

.jq-select-multiple li.disabled {
  color: #AAA;
}

.jq-select-multiple li.optgroup {
  font-weight: bold;
}

.jq-select-multiple li.option {
  padding-left: 25px;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}


.jq-number {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding: 0 28px;
  //border: 2px solid $bord-color;
  border-radius: 6px;
  transition: border .3s;

  &.disabled {
    .jq-number__field,
    .jq-number__spin {
      color: #888;
    }
    .jq-number__spin {
      &:after {
        //border-left-color: $text-color-light;
        //border-top-color: $text-color-light;
      }
    }
  }
}

.jq-number__field {
  width: 100%;

  input {
    box-sizing: border-box;
    width: 100%;
    //height: ($field-height - 4);
    border: none;
    outline: none;
    background: none;
    text-align: center;
    //@include font-face-medium;
    -moz-appearance: textfield; //FF

    .filter & {
      //height: ($field-height-filter - 4);
    }
  }
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0; /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  user-select: none;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -6px;
    display: block;
    width: 12px;
    height: 2px;
    //background: $brand-color-1;
  }
  &:after {
    width: 2px;
    height: 12px;
    margin-left: -1px;
    margin-top: -6px;
  }

  &:active {
    &:after {
      //border-left-color: $link-color-hover;
      //border-top-color: $link-color-hover;
    }
  }

  &.minus {
    right: auto;
    left: 0;

    &:after {
      display: none;
    }
  }

  &:hover {
    &:after {

    }
  }
}
