h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  @include font-face-title;
  color: $color__title;
  text-transform: none;
  transition: color .2s;
}

h1 {
  margin-top: 0;
  margin-bottom: .68em;
  font-size: 32px;
  line-height: 1.1;

  @include media-breakpoint-down(tb) {
    font-size: 30px;
  }
  @include media-breakpoint-down(phx) {
    font-size: 20px;
  }
}

h2 {
  margin-top: 3.36em;
  margin-bottom: 0.82em;
  font-size: 24px;
  line-height: 1.33;

  @include media-breakpoint-down(phx) {
    margin-top: 2em;
    margin-bottom: .94em;
    font-size: 20px;
  }
}

h3 {
  margin-top: 3.36em;
  margin-bottom: 0.82em;
  font-size: 20px;
  line-height: 1.4;

  @include media-breakpoint-down(phx) {
    margin-top: 2em;
    margin-bottom: .94em;
    font-size: 20px;
  }
}

.h1 { @extend h1; }

.h1_lg {
  font-size: 60px;
}

.h2 { @extend h2; }

.h3 { @extend h3; }
