.link {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  @include font-face-title;
  line-height: 1.666;
  font-size: 15px;
  color: $color__text;

  &:hover {
    color: $color__text;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 54%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color__primary;
    transition: .3s ease-in-out;
  }
}