ul,
ol {
  width: 100%;
  list-style: none;
  padding: 0 0 0 35px;
  margin-top: 0;
  margin-bottom: 2.8em;

  > li {
    position: relative;
    margin-top: 0;
    margin-bottom: 1.2em;
    text-align: left;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  > li {
    padding-left: 26px;
    margin-bottom: .75em;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      //background: $color__dark;
      top: .67em;
      left: 0;
      font-size: 1em;
    }
  }
}

ol {
  counter-reset: section;

  > li {
    display: flex;
    align-items: flex-start;

    &::before {
      content: counters(section, ".",  decimal-leading-zero) ". ";
      counter-increment: section;
      display: block;
      flex-shrink: 0;
      min-width: 30px;
      text-align: center;
      margin-right: 16px;
      //@include font-face-bold;
    }
  }
}
