.pagination {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 28px;
  border-top: 1px solid $color__border;

  @include media-breakpoint-down(phx) {
    padding: 0 20px;
    border-top: none;
  }

  &__list {
    display: block;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(phx) {
      text-align: center;
    }
  }

  &__el {
    display: inline-block;
    padding: 0;
    margin: 0 10px 0 0;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      display: none;
    }

    > a,
    > span {
      display: inline-block;
      padding: 1px 2px;
      font-size: $font-size__base;
      @include font-face-medium;
      color: $color__text;
      border-bottom: 2px solid transparent;

      @include media-breakpoint-down(phx) {
        padding: 1px 5px;
      }
    }

    &.active {
      > a,
      > span {
        color: $color__primary;
        border-bottom-color: $color__primary;
      }
    }

    > a {
      &:hover {
        color: $color__primary;
        border-bottom-color: $color__primary;
      }
    }
  }
}

.pagination-btn {
  flex-shrink: 0;

  &__next,
  &__prev {
    position: relative;
    display: inline-block;
    @include font-face-medium;
    color: $color__text;
    transition: .2s;

    @include media-breakpoint-down(phx) {
      position: absolute;
      width: 30px;
      height: 25px;
      top: 2px;
      font-size: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 7px;
      display: block;
      width: 5px;
      height: 5px;
      border-left: 2px solid currentColor;
      border-top: 2px solid currentColor;
    }

    &:hover {
      color: $color__primary;
    }
  }

  &__next {
    padding-right: 13px;
    margin-left: 60px;

    @include media-breakpoint-down(phx) {
      right: 0;
    }

    &::before {
      right: 0;
      transform: rotate(135deg);
    }
  }

  &__prev {
    padding-left: 13px;

    @include media-breakpoint-down(phx) {
      left: 0;
    }

    &::before {
      left: 0;
      transform: rotate(-45deg);
    }
  }
}