.pic {
  margin: 0 0 3.8em;

  @include media-breakpoint-down(phx) {
    margin-bottom: 2.5em;
  }

  &_wide {
    @include media-breakpoint-down(tb) {
      margin-left: -$container__padding-tb;
      margin-right: -$container__padding-tb;
    }
    @include media-breakpoint-down(phx) {
      margin-left: -$container__padding-ph;
      margin-right: -$container__padding-ph;
    }

    img {
      width: 100%;
    }
  }

  &__text {
    display: block;
    margin: 13px 0 0 0;
    font-style: italic;

    @include media-breakpoint-down(phx) {
      margin-top: 2px;
      font-size: $font-size__xsmall;
      line-height: 1.4;
      text-align: center;
    }
  }
}

p {
  + .pic {
    margin-top: 3.8em;

    @include media-breakpoint-down(phx) {
      margin-top: 3.2em;
    }
  }
}