.tabs {
  padding-bottom: 0;
  transition: all .35s;

  &__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  &_vertical {
    .tabs__list {
      display: block;
    }

    .tab {
      margin-bottom: 10px;
    }

    .tab__nav {
      span {
        padding: 6px 0;
      }
    }
  }
}

.tab {
  transition: padding .35s;
  cursor: pointer;

  &.active {
    cursor: default;

    .tab__nav {
      color: $color__primary;

      &::before {
        width: 100%;
      }
    }
  }

  &__nav {
    position: relative;
    @include font-face-medium;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 2px;
      width: 0;
      background: $color__primary;
      transition: width .25s ease-out;
    }

    span {
      display: inline-block;
      padding: 15px;
      border-bottom: 2px solid $color__border;
    }
  }

  &__panel {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .35s ease .05s, visibility .3s;
    z-index: 0;
    visibility: hidden;
    display: none;

    @include media-breakpoint-down(tb) {
      position: relative;
      top: auto;
      display: block;
      height: 0;
      transition: height .4s ease;
    }

    &.active {
      z-index: 2;
      visibility: visible;

      .tabsActive & {
        display: block;
        opacity: 1;
      }
    }

    .tabsActive & {
      display: block;
    }
  }

  &__panel-wrap {
    padding-top: 60px;
    line-height: 1.43;
    @include font-face-medium;

    @include media-breakpoint-down(tb) {
      padding-top: 37px;
      padding-bottom: 10px;
    }
    @include media-breakpoint-down(phx) {
      padding-top: 25px;
    }
  }
}