table {
  position: relative;
  width: 100%;
  min-width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;

  @include media-breakpoint-down(phx) {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  th,
  td {
    padding: 30px 15px;
    font-size: $font-size__base;
    line-height: $line-height__base;
    color: $color__text;
    text-align: left;
    border: none;
    border-bottom: 1px solid $color__border;
    background: none;
    vertical-align: top;
    @include font-face-base;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  thead {
    td,th {
      @include font-face-bold;
    }
  }

  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    td {
      @include media-breakpoint-down(phx) {
        padding: 18px 15px;
        font-size: $font-size__small;
        line-height: $line-height__base;
      }
    }
  }
}

p {
  + table {
    margin-top: 60px;
  }
}

.table-responsive {
  width: 100%;
  min-width: 100%;
  min-height: .01%;
  margin-bottom: 60px;
  margin-top: 60px;
  overflow-x: auto;
  @include clearfix;

  @include media-breakpoint-down(phx) {
    margin-top: 30px;
    margin-bottom: 45px;
  }

  table {
    margin: 0;
  }
}