.js-drop {
  position: relative;

  &-link {
    cursor: pointer;
  }

  &-block {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 12px;
    max-width: 200px;
    width: auto;
    padding: 20px 24px;
    background: #fff;
    box-shadow: 0 5px 18px 0 rgba(0,0,0,.1);
    z-index: 10;

    //@media (max-width: $screen-sm-max) {
    //  right: auto;
    //  left: 50%;
    //  margin-left: -140px;
    //}
    //@media (max-width: $screen-xs-max) {
    //  width: 260px;
    //  margin-left: -170px;
    //}

    &:before,
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
    }
    &:before {
      top: -10px;
      right: 15px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 10px solid #fff;
      z-index: 2;

      //@media (max-width: $screen-sm-max) {
      //  right: 50%;
      //  margin-right: -6px;
      //}
      //@media (max-width: $screen-xs-max) {
      //  margin-right: -46px;
      //}
    }
    &:after {
      top: -11px;
      right: 14px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 4px solid rgba(0,0,0,.1);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 1;

      //@media (max-width: $screen-sm-max) {
      //  right: 50%;
      //  margin-right: -7px;
      //}
      //@media (max-width: $screen-xs-max) {
      //  margin-right: -47px;
      //}
    }
  }
}