.menu {
  @include media-breakpoint-down(tbx) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__item {
    padding: 0;
    margin: 0;

    &::before {
      display: none;
    }

    + .menu__item {
      margin-left: 25px;
    }

    > a,
    > span {
      white-space: nowrap;
      @include font-face-sbold;
      color: $color__text_dark;
    }

    > a {
      &:hover {
        color: $color__primary;
      }
    }
  }

  &__item_select {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 16px;

    &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      width: 24px;
      height: 24px;
      background: $color__primary;
      transform: rotate(45deg);
    }
  }

  .icon-burger {
    position: relative;
    z-index: 3;
    width: 12px;
    height: 10px;
  }
}