.menu-footer {
  ul {
    margin: 0;
    padding: 0;

    > li {
      margin: 0 0 13px;
      padding: 0;

      @include media-breakpoint-down(phx) {
        text-align: center;
      }

      &::before {
        display: none;
      }

      > a,
      > span {
        @include font-face-medium;
        color: $color__text;
      }

      > a {
        &:hover {
          color: $color__primary;
        }
      }

      a[href^="tel"] {
        color: $color__primary;

        &:hover {
          color: $color__text;
        }
      }
    }
  }
}