<div class="pagination">
   <ul class="pagination__list">
      <li class="pagination__el active"><a href="#">01</a></li>
      <li class="pagination__el"><a href="#">02</a></li>
      <li class="pagination__el"><a href="#">03</a></li>
      <li class="pagination__el"><a href="#">04</a></li>
      <li class="pagination__el"><span>...</span></li>
      <li class="pagination__el"><a href="#">48</a></li>
   </ul>
   <div class="pagination-btn">
      <a href="#" class="pagination-btn__prev">Предыдущая</a>
      <a href="#" class="pagination-btn__next">Следующая</a>
   </div>
</div>