<div class="tabs">
   <div class="tabs__list">
      <div class="tab">
         <div class="tab__nav">
            <span>Заголовок 2</span>
         </div>
         <div class="tab__panel">
            <div class="tab__panel-wrap">
               <p>
                  Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь.
               </p>
            </div>
         </div>
      </div>
      <div class="tab active">
         <div class="tab__nav">
            <span>Заголовок 1</span>
         </div>
         <div class="tab__panel active">
            <div class="tab__panel-wrap">
               <p>
                  В соответствии с первым правилом бойцовского клуба, никому нельзя рассказывать о бойцовском клубе. С классным женским бельем в России примерно та же история. Но сегодня, превозмогая жадность, мы проведем аукцион невиданной щедрости и раскроем вам тайное место, где можно найти люксовое и невероятно стильное белье, которому позавидовали бы Мадонна, Леди Гага и прочие знающие в этом толк дивы.
               </p>
            </div>
         </div>
      </div>
      <div class="tab">
         <div class="tab__nav">
            <span>Заголовок 3</span>
         </div>
         <div class="tab__panel">
            <div class="tab__panel-wrap">
               <p>
                  Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу.
               </p>
            </div>
         </div>
      </div>
   </div>
</div>