<section class="section news">
   <div class="container-full">
      <div class="news-list row">
         @@include('news-el.html', {
            "pic": "images/content/news_el_1.png",
            "title": "Как аналитики прогнозируют перемены в&nbsp;моде",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_2.png",
            "title": "Лайфхак недели: Самые важные 20&nbsp;минут",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_3.png",
            "title": "Шедевры дизайна, которые мы не&nbsp;замечаем",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_4.png",
            "title": "Почему ваш новый телевизор уже устарел",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_2.png",
            "title": "Как избавиться от&nbsp;бессмысленных ежемесячных трат",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_3.png",
            "title": "Как думают люди с&nbsp;обычным и&nbsp;низким IQ?",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_4.png",
            "title": "Для бега нужны беговые кроссовки?",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_1.png",
            "title": "Как грамотно обращаться с&nbsp;деньгами в&nbsp;молодости?",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_1.png",
            "title": "Как аналитики прогнозируют перемены в&nbsp;моде",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_2.png",
            "title": "Лайфхак недели: Самые важные 20&nbsp;минут",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_3.png",
            "title": "Шедевры дизайна, которые мы не&nbsp;замечаем",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_4.png",
            "title": "Почему ваш новый телевизор уже устарел",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_2.png",
            "title": "Как избавиться от&nbsp;бессмысленных ежемесячных трат",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_3.png",
            "title": "Как думают люди с&nbsp;обычным и&nbsp;низким IQ?",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_4.png",
            "title": "Для бега нужны беговые кроссовки?",
            "date": "15 янв 2019"
         })
         @@include('news-el.html', {
            "pic": "images/content/news_el_1.png",
            "title": "Как грамотно обращаться с&nbsp;деньгами в&nbsp;молодости?",
            "date": "15 янв 2019"
         })
      </div>
      @@include('../styleguide/pagination.html')
   </div>
</section>