<div class="news-el col-lt-3 col-tb-4 col-phx-6">
   <a href="#" class="news-el__wrap">
      <div class="news-el__pic">
         <img src="@@pic" alt="Image">
      </div>
      <div class="news-el__descr">
         <p class="news-el__title">@@title</p>
         <time class="news-el__date">@@date</time>
      </div>
   </a>
</div>