<div class="stock-el col-tbx-6">
   <a href="#" class="stock-el__wrap" style='background-image: url(@@pic)'>
      <div class="stock-el__descr">
         <p class="h2">@@title</p>
         <p class="stock-el__text">@@text</p>
      </div>
   </a>
</div>