<section class="section stock">
   <div class="container">
      <div class="stock-list row">
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
         @@include('stock-el.html', {
            "pic": "images/content/stock_el_1.jpg",
            "title": "Romantic Moments Limited",
            "text": "Лимитированная коллекция от&nbsp;Belita ко&nbsp;Дню Святого Валентина"
         })
      </div>
      @@include('../styleguide/pagination.html')
   </div>
</section>