<footer class="footer">
   <div class="container">
      <div class="footer__wrap">
         @@include('../blocks/logo_color.html')
         <div class="row">
            <div class="footer__col footer__col_info hidden-down-phx">
               <p>
                  Крупнейший дистрибьютор косметики на&nbsp;территории&nbsp;СНГ
               </p>
            </div>
            <div class="footer__col hidden-down-phx">
               <div class="menu-footer">
                  <ul>
                     <li><a href="#">Каталог продукции</a></li>
                     <li><a href="#">О компании</a></li>
                     <li><a href="#">Новости и&nbsp;обзоры</a></li>
                     <li><a href="#">Оплата и&nbsp;доставка</a></li>
                     <li><a href="#">Сотрудничество</a></li>
                     <li><a href="#">Акции</a></li>
                  </ul>
               </div>
            </div>
            <div class="footer__col">
               <div class="menu-footer">
                  <ul>
                     <li><span>Контактная информация</span></li>
                     <li><a href="tel:+79256853320">+7 (925) 685-33-20</a></li>
                     <li><a href="#">Заказать звонок</a></li>
                     <li><a href="mailto:shop@digidon.ru">shop@digidon.ru</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="row row_bottom">
            <div class="footer__col footer__col_info">
               <p>
                  2018&nbsp;©&nbsp;Procinema.ru Все&nbsp;права&nbsp;защищены
               </p>
            </div>
            <div class="footer__col">
               <p>
                  Сделано с&nbsp;умом в <a href="https://aisnovations.com/">AIS</a>
               </p>
            </div>
         </div>
      </div>
   </div>
</footer>