<header class="header">
   <div class="container-full">
      <div class="header__wrap">
         <div class="header__block hidden-up-lt">
            @@include('../menu/humb.html')
         </div>
         <div class="header__block">
            @@include('../blocks/logo_color.html')
         </div>
         <div class="header__block">
            @@include('../menu/menu.html')
            @@include('../blocks/contacts-header.html')
            @@include('../blocks/link-header_account.html')
            @@include('../blocks/search-drop.html')
            @@include('../blocks/lang.html')
         </div>
      </div>
   </div>
</header>