<nav class="menu">
   <ul class="menu__list">
      <li class="menu__item menu__item_select">
         <i class="menu__icon">
            <svg class="icon icon-burger">
               <use xlink:href="images/sprite-custom.svg#burger"></use>
            </svg>
         </i>
         <a href="#">Каталог</a>
      </li>
      <li class="menu__item">
         <a href="#">О компании</a>
      </li>
      <li class="menu__item">
         <a href="#">Бренды</a>
      </li>
      <li class="menu__item">
         <a href="#">Логистика</a>
      </li>
      <li class="menu__item">
         <a href="#">Новости</a>
      </li>
      <li class="menu__item">
         <a href="#">Акции</a>
      </li>
   </ul>
</nav>