<div class="lang drop js-drop">
   <div class="drop__link js-drop-link">
      <span>Ru</span>
   </div>
   <div class="drop-block js-drop-block" style="display: none;">
      <ul>
         <li><a href="#">Ru</a></li>
         <li><a href="#">De</a></li>
         <li><a href="#">En</a></li>
      </ul>
   </div>
</div>