<a href="#" class="link-header">
   <span class="link-header__icon">
      <svg class="icon icon-cart">
         <use xlink:href="images/sprite-custom.svg#cart"></use>
      </svg>
      <span class="link-header__num">98</span>
   </span>
   <span class="link-header__text">Личный кабинет</span>
</a>