<div class="search-drop-btn js-drop-search-btn">
   <svg class="icon icon-search">
      <use xlink:href="images/sprite-custom.svg#search"></use>
   </svg>
</div>
<div class="search-drop js-drop-search">
   <form class="search-drop__form container">
      <input class="search-drop__input" id="searchHeader" type="search" placeholder="поиск" name="q">
      <div class="search-drop__nav">
         <div class="search-drop__close js-drop-search-close">
            <i class="search-drop__close-icon"></i>
         </div>
         <label class="search-drop__submit">
            <input type="submit">
            <svg class="icon icon-search">
               <use xlink:href="images/sprite-custom.svg#search"></use>
            </svg>
         </label>
      </div>
   </form>
</div>