.contacts {
  .h1 {
    margin-bottom: 1em;
  }

  a {
    color: $color__text;

    &:hover {
      color: $color__primary;
    }
  }

  a[href^='tel'],
  a[href^='mailto'] {
    @include font-face-bold;
  }

  &__row {
    display: flex;
    margin: 0 -20px;

    @include media-breakpoint-down(tb) {
      display: block;
      margin: 0;
    }
  }

  &__tabs {
    width: 30%;
    padding: 5px 20px;

    @include media-breakpoint-down(tb) {
      width: 100%;
      padding: 0 50% 0 0;
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(phx) {
      padding-right: 0;
    }
  }

  &__map {
    width: 70%;
    padding: 0 20px;

    @include media-breakpoint-down(tb) {
      width: 100%;
      padding: 0;
    }
  }

  .tab__nav {
    &::after {
      content: '';
      position: absolute;
      bottom: -7px;
      right: 0;
      display: block;
      width: 12px;
      height: 16px;
      background-image: url("../images/icons/pin.svg");
      background-size: contain;
      transition: opacity 0s;
      opacity: 0;
    }
  }

  .tab__panel {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .tab.active {
    .tab__nav {
      &::before {
        width: calc(100% - 11px);
      }
      &::after {
        opacity: 1;
        transition: opacity .2s .2s ease;
      }
    }
  }
}