.news {

}

.news-list {

}

.news-el {
  margin-bottom: 64px;

  @include media-breakpoint-down(tbx) {
    margin-bottom: 35px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: $color__text;
  }

  &__pic {
    position: relative;
    display: block;
    height: 0;
    padding-top: 67.745%;
    margin-bottom: 13px;
    flex-shrink: 0;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      min-width: 100%;
      max-width: none;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    @include font-face-medium;
    font-size: $font-size__base;
    margin: 0 0 13px;
    transition: color .2s;

    @include media-breakpoint-down(tbx) {
      margin-bottom: 7px;
    }
  }

  &__date {
    display: block;
    margin: 0;
  }
}

a.news-el__wrap {
  &:hover {
    .news-el__title {
      color: $color__primary;
    }
  }
}