.stock {

}

.stock-list {

}

.stock-el {
  margin-bottom: $grid-padding;

  @include media-breakpoint-down(phx) {
    margin-bottom: 10px;
  }

  &__wrap {
    position: relative;
    display: block;
    height: 0;
    padding-top: 44.61%;
    color: $color__text;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    overflow: hidden;

    @include media-breakpoint-down(tbx) {
      padding-top: 54%;
    }
    @include media-breakpoint-down(tb) {
      padding-top: 44.624%;
    }
    @include media-breakpoint-down(phx) {
      padding-top: 45%;
    }
    @include media-breakpoint-down(phx) {
      padding-top: 48%;
    }
  }

  &__descr {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 50% 0 40px;

    @include media-breakpoint-down(tbx) {
      padding-right: 30%;
    }
    @include media-breakpoint-down(tb) {
      padding: 50px 50% 0 50px;
    }
    @include media-breakpoint-down(phx) {
      padding: 40px 50% 0 40px;
    }
    @include media-breakpoint-down(ph) {
      padding: 5% 30% 0 6%;
    }
  }

  .h2 {
    margin: 0 0 .64em;

    @include media-breakpoint-down(tb) {
      font-size: 32px;
      line-height: 1.4;
    }
    @include media-breakpoint-down(phx) {
      font-size: 24px;
      margin-bottom: .3em;
    }
    @include media-breakpoint-down(ph) {
      font-size: $font-size__large;
    }
  }

  &__text {
    margin: 0;

    @include media-breakpoint-down(ph) {
      font-size: $font-size__xsmall;
    }
  }
}

a.stock-el__wrap {
  &:hover {
    opacity: .9;
  }
}