.footer {
  position: relative;
  margin-left: 52px;
  margin-right: 52px;
  padding-bottom: 46px;

  @include media-breakpoint-down(lt) {
    margin: 0;
    padding-bottom: 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 46px;
    background: $color-bg__block;
    z-index: 1;

    @include media-breakpoint-down(lt) {
      bottom: 0;
    }
  }

  &__wrap {
    position: relative;
    padding: 50px 0;
    z-index: 2;

    @include media-breakpoint-down(tb) {
      padding-bottom: 42px;
    }
    @include media-breakpoint-down(phx) {
      padding: 35px 0 28px;
      text-align: center;
    }

    .row {
      + .row {
        margin-top: 85px;

        @include media-breakpoint-down(tb) {
          margin-top: 35px;
        }
        @include media-breakpoint-down(phx) {
          margin-top: 6px;
        }
      }

      &_bottom {
        @include media-breakpoint-down(tb) {
          font-size: $font-size__small;
        }
        @include media-breakpoint-down(phx) {
          font-size: 10px;
        }
      }
    }
  }

  &__col {
    flex-shrink: 0;
    width: ((100% - 44.2%) / 2);
    padding: 0 ($grid-padding / 2);

    @include media-breakpoint-down(tb) {
      width: ((100% - 42.4%) / 2);
    }
    @include media-breakpoint-down(phx) {
      width: 100%;
    }

    &_info {
      width: 44.2%;
      padding-right: 10%;

      @include media-breakpoint-down(tbx) {
        padding-right: 6%;
      }
      @include media-breakpoint-down(tb) {
        width: 42.4%;
        padding-right: ($grid-padding / 2);
      }
      @include media-breakpoint-down(phx) {
        width: 100%;
      }
    }
  }

  .logo {
    @include media-breakpoint-down(phx) {
      display: none;
    }
  }
}