 .header {
  border-bottom: 1px solid $color__border;

  &__wrap {
    height: $header__height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(lt) {
      height: $header__height-lt;
    }
    @include media-breakpoint-down(phx) {
      height: $header__height-ph;
    }
  }

  &__block {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(tbx) {
      width: 33.3333%;
    }

    &:nth-child(2) {
      @include media-breakpoint-down(tbx) {
        justify-content: center;
      }
    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}