* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: $font-size__base;

  @include media-breakpoint-down(phx) {
    font-size: $font-size__small;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: $container__width-min;
  @include font-face-base;
  line-height: $line-height__base;
  color: $color__text;
  background-color: $color-bg__body;

  @include media-breakpoint-down(phx) {
    line-height: $line-height__base_ph;
  }
}

.container {
  width: auto;
  max-width: (1108px + 160px);
  //max-width: $container__width-max;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;


  @include media-breakpoint-down(tb) {
    padding-left: $container__padding-tb;
    padding-right: $container__padding-tb;
  }
  @include media-breakpoint-down(phx) {
    padding-left: $container__padding-ph;
    padding-right: $container__padding-ph;
  }
}

.container-full {
  padding-right: 52px;
  padding-left: 52px;
  margin: 0 auto;

  @include media-breakpoint-down(lt) {
    padding-right: $container__padding-tb;
    padding-left: $container__padding-tb;
  }
  @include media-breakpoint-down(phx) {
    padding-right: $container__padding-ph;
    padding-left: $container__padding-ph;
  }

  .main & {
    max-width: 1440px;
  }

  &_small {
    padding-right: 32px;
    padding-left: 32px;

    @include media-breakpoint-down(phx) {
      padding-right: 24px;
      padding-left: 24px;
    }

    .main & {
      max-width: none;
    }
  }
}

.container-inner {
  margin: 0 auto;
  max-width: (650px + 120px);
  padding: 0 60px;

  @media (max-width: 850px){
    max-width: initial;
    padding: 0;
  }
  @include media-breakpoint-down(phx) {
    max-width: initial;
    padding: 0;
  }
}

.main {
  display: block;
  position: relative;
}

.page {
  margin: 0 auto;
  overflow: hidden;
  background-color: $color-bg__body;
}

.page-head {
  padding: 40px 0 36px;

  @include media-breakpoint-down(tb) {
    padding: 23px 0 30px;
  }
  @include media-breakpoint-down(phx) {
    padding: 23px 0 20px;
  }

  .h1 {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-content {
  padding-bottom: 120px;

  @include media-breakpoint-down(tb) {
    padding-bottom: 90px;
  }
  @include media-breakpoint-down(phx) {
    padding-bottom: 60px;
  }
}

.blackout {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.6);
  opacity: 0;
  transition: .3s;
  z-index: 205;

  .search-drop_open & {
    visibility: visible;
    opacity: 1;
  }
}

a {
  color: $color__link;
  transition: .2s;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color__link-hover;
  }

  &:focus {

  }
}

a[href^='tel:'],
a[href^='mailto:'] {
  white-space: nowrap;
}

p {
  margin-top: 0;
  margin-bottom: 1em;

  @include media-breakpoint-down(phx) {
    margin-bottom: 1.45em;
  }
}

b, strong {
  @include font-face-bold;
}

i {
  font-style: italic;
}

img {
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.text-lg {
  margin-bottom: 4.5em;
  font-size: $font-size__large;
  line-height: 1.44; //(26/18)
  color: $color__text_dark;

  @include media-breakpoint-down(phx) {
    margin-bottom: 3em;
    font-size: $font-size__small;
    line-height: $line-height__base_ph;
  }
}

.hidden-down-phx {
  @include media-breakpoint-down(phx) {
    display: none!important;
  }
}
.hidden-up-lt {
  @include media-breakpoint-up(lt) {
    display: none!important;
  }
}