.svg-bg {
  display: block;
  line-height: 0;

  &::before {
    content: '';
  }

  //&_name {
  //  font-size: 1.214em;
  //
  //  &::before {
  //    @include sprite(shopping_cart);
  //  }
  //}
}

.icon {
  &-cart {
    width: 25px;
    height: 25px;
    fill: transparent;
  }

  &-search {
    width: 24px;
    height: 24px;
    fill: transparent;
  }
}

