@mixin font-face-base() {
  font-family: $font-family__base;
  font-weight: normal;
}

@mixin font-face-bold() {
  font-weight: bold;
}

@mixin font-face-sbold() {
  font-weight: 600;
}

@mixin font-face-medium() {
  font-weight: 500;
}

@mixin font-face-title() {
  font-family: $font-family__title;
  font-weight: normal;
}
