.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: inherit;
}

.icon-burger {
  font-size:(10/10)*1rem;
  width:(12/10)*1em;
}
.icon-search {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-shopping_cart {
  font-size:(26/10)*1rem;
  width:(26/26)*1em;
}
