//Color
$color__primary:        #66C500;

$color__text:           #404040;
$color__text_dark:      #000;
$color__title:          #404040;

$color__link:           $color__primary;
$color__link-hover:     $color__text_dark;
//$color__link-border:    #b8c9d9;

$color-bg__body:        #fff;
$color-bg__block:       #FAFAFA;

$color__border:         #EBEBEB;
$border__radius:        0;

$header__height:        120px;
$header__height-lt:     100px;
$header__height-ph:     65px;

$footer__height:        100px;

//Form
$form__border-color:                #002D59;
$form__field-color-placeholder:     #002D59;
$form__field-bg:                    #fff;
$form__field-height:                70px;
$form__field-height_sm:             35px;
$form__border-radius:               0;

//Fonts
$font-family__base:           'Montserrat', serif;
$font-family__title:          'Prata', sans-serif;
$font-size__base:       14px;
$font-size__large:      18px;
$font-size__small:      12px;
$font-size__xsmall:     10px;
$line-height__base:     1.57;
$line-height__base_ph:  1.7;

//Container
$grid-padding:                $grid-gutter-width;
$container__padding:          80px;
$container__padding-tb:       40px;
$container__padding-ph:       20px;
$col__padding:                50px;
$container__width-max:        2560px;
$container__width-min:        300px;

