.contacts-header {
  display: block;
  padding: 0;
  margin: 0 0 0 40px;
  @include font-face-sbold;

  @include media-breakpoint-down(tbx) {
    display: none;
  }
  @include media-breakpoint-up(dtx) {
    margin-left: 55px;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;

    + li {
      margin-left: 18px;
    }
  }

  span,
  a {
    color: $color__text_dark;
  }

  a {
    &:hover {
      color: $color__primary;
    }
  }

  a[href^='tel:'] {
    color: $color__primary;

    &:hover {
      color: $color__text_dark;
    }
  }
}