.link-header {
  margin-left: 21px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  color: $color__text_dark;
  @include font-face-sbold;

  @include media-breakpoint-down(lt) {
    margin-left: 35px;
  }
  @include media-breakpoint-up(dtx) {
    margin-left: 55px;
  }

  &__icon {
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    text-align: center;

    @include media-breakpoint-down(lt) {
      margin-right: 0;
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__num {
    position: relative;
    top: 4px;
    line-height: 1;
    color: #fff;
    font-size: 11px;
    @include font-face-bold;
  }

  &__text {
    @include media-breakpoint-down(lt) {
      display: none;
    }
  }
}

a.link-header {
  &:hover {
    color: $color__primary;
  }
}