.logo {
  display: inline-block;
  line-height: 0;

  .footer & {
    margin-bottom: 20px;

    img {
      max-height: 80px;
    }
  }

  img {
    max-height: 90px;

    @include media-breakpoint-down(lt) {
      max-height: 75px;
    }
    @include media-breakpoint-down(phx) {
      max-height: 47px;
    }
  }
}