$_search-drop__height:    $header__height;

body.search-drop_open {
  overflow: hidden;
}

.search-drop-btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 16px;
  opacity: 1;
  transition: opacity .25s;
  cursor: pointer;

  @include media-breakpoint-down(tbx) {
    margin-left: 12px;
  }

  &:hover {
    opacity: .7;
  }

  .icon {
    display: block;
    width: 22px;
    height: 22px;

    .menuOpen &,
    .header_light & {
      stroke: #fff;
    }
  }
}

.search-drop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $_search-drop__height;
  background: #fff;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out;
  z-index: 200;
  overflow: hidden;

  .search-drop_open & {
    transform: translateY(0);
  }

  &__form {
    height: 100%;
  }

  &__input {
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: $color__text;
    @include font-face-base;
    border: none;
    box-shadow: none;
    background: #fff;
    outline: none;

    &::placeholder {
      color: #ccc;
    }
  }

  &__submit {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;

    input {
      position: absolute;
      width: 1px;
      height: 1px;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__close {
    position: relative;
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;

    &:hover {
      .search-drop__close-icon {
        color: $color__text-dark;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
      color: #ccc;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 2px;
        height: 22px;
        position: absolute;
        top: 4px;
        left: 13px;
        background: currentColor;
        transition: .25s;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 32px;
    display: flex;
    align-items: center;
    width: $_search-drop__height;
    height: $_search-drop__height;
  }
}
