.temporary {
  padding: 32px 0;
  min-height: 600px;

  @include media-breakpoint-down(phx) {
    min-height: 450px;
    padding: $container__padding-ph 0;
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-bottom: 64px;
    background-color: #F7EEE5;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;

    @include media-breakpoint-down(lt) {
      background-position: 75% bottom;
    }
    @include media-breakpoint-down(tbx) {
      background-position: 70% bottom;
    }
    @include media-breakpoint-down(phx) {
      padding-bottom: 38px;
      background-position: 60% bottom;
    }
  }

  &__head {
    padding: 38px;

    @include media-breakpoint-down(phx) {
      padding: $container__padding-ph;
    }
  }

  &__body {
    padding-bottom: 15vh;

    @media (min-height: 800px) {
      padding-bottom: 21vh;
    }
    @include media-breakpoint-up(tb) {
      padding-right: 22%;
    }
    @include media-breakpoint-down(phx) {
      padding-top: 0;
      padding-bottom: 10vh;
    }
  }

  &__foot {

  }

  a[href^="tel"],
  a[href^="mailto"] {
    color: $color__text;

    &:hover {
      color: $color__primary;
    }
  }

  .h1 {
    margin-bottom: .82em;

    @include media-breakpoint-down(phx) {
      font-size: 40px;
    }
    @include media-breakpoint-down(ph) {
      font-size: 32px;
    }
  }

  p {
    margin-bottom: 1.4em;
  }
}